.container {
  display: flex;
  /* 	gap: 30px; */

  .left {
    width: 50%;
    // background-color: red;
    padding: 100px 0;
    height: 1000px;
    position: sticky;
    top: 0px;
    line-height: 0.8;
    font-weight: 400;

    .services-desc {
      font-size: 1.1vw;
    }
  }

  .right {
    display: flex;
    padding: 100px 0;
    overflow: hidden;
    width: 50%;

    .ruler {
      width: 5px;
      background-color: black;
      height: 100vh;
      margin-right: 1.5vw;
      height: auto;
    }

    .scroll-elements {
      .hori-ruler {
        height: 1px;
        width: 100%;
        background-color: #2a2a2a;
        margin: 20px 0;
      }
    }
  }
}

path {
  stroke-width: 3;
  stroke: #2a2a2a;
  fill: none;
  stroke-width: 3px;
}

path {
  stroke-width: 3;
  stroke: grey;
  fill: none;
  stroke-width: 3px;
}
