.container {
  display: flex;
  /* 	gap: 30px; */

  .left {
    width: 50%;
    // background-color: red;
    padding: 100px 0;
    position: sticky;
    top: 0px;
    height: 100%;
    font-size: 4.8vw;
    line-height: 0.8;
    font-weight: 400;
    text-transform: uppercase;
  }

  .right {
    display: flex;
    padding: 4vw 0;
    overflow: hidden;
    width: 50%;

    .ruler {
      width: 5px;
      background-color: black;
      height: 100vh;
      margin-right: 1.5vw;
      height: auto;
    }
  }
}

path {
  stroke-width: 3;
  stroke: grey;
  fill: none;
  stroke-width: 3px;
}

path {
  stroke-width: 3;
  stroke: grey;
  fill: none;
  stroke-width: 3px;
}
