@import '../../styles/colors.scss';

.nav-container {
  background-color: var(--background-primary);
  height: 56px;
  display: flex;
  padding: 1.5vw 2vw;
  justify-content: space-between;
  // position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.right-items {
  display: flex;
  gap: 5%;
  width: 70%;
  font-size: 14px;
  justify-content: flex-end;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}
