.nav-container {
  height: 56px;
  display: flex;
  padding: 2.5vw;
  justify-content: space-between;
}

.right-items {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

li {
  list-style-type: none;
}
