.swiper {
  width: 100%;
  height: 100%;
  cursor: grab;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  height: max(20vw, 400px);
  // width: max(20vw, 500px);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1000px) {
  .swiper-slide {
    height: 50vw;
  }
}
